/*==============================================
        =  Top =
==============================================*/

#top{
	padding-top: 0px;
}

.divNav{
	margin-top: 0px;
}

#top ul li{
	display: inline;
	line-height: 30px;
	margin: 0px 5px;
	color: white;
}

.social ul li a i{
	font-size: 20px;
}

.ulRegistro{
	margin-bottom: 0px;
}

.headerNav{
	background-color: black;
}

/*==============================================
        =  header =
==============================================*/


header #btnCategorias p{
	margin-bottom: 0;
	line-height: 35px;
}

#btnCategorias, #buscador, #carrito{
	margin-top: 5px;
}

.btnCarrito{
	margin-right: 8px;

}

#cabezote{
	margin-top: 5px;
}


header #btnCategorias p span{
	cursor: pointer;
}

.brandLogo{
	font-size: 33px;
	color: black;
	font-family: 'Merriweather', serif;
	padding: 20px 60px;
	padding-left: 0px;
}

header #carrito p{
	font-size: 11px;

	border-radius: 3px;
	background-color: #FFD700; 
}

header #categorias{
	display: none;
	margin-top: 10px;
	position: relative;
}

#headerNav{
	background-color: #FFEB3B;
}

.pixelCategorias, .pixelSubCategoria{
	color: black;
}

#tituloCategoria{

	background-color:  #FFD700;
	border-radius: 3px;
	color: white;
	padding: 5px;
}

/*==============================================
        =  Ventanas modales =
==============================================*/

.modalTitulo{

	padding: 5px 0px;

}

.modalTitulo h3{

	text-align: center;
	margin-top: -5px;
	padding: 15px 0px;
	border-radius: 5px 5px 0px 0px;

}

.modalFormulario .close{

	position: absolute;
	right: 27px;
	top: 15px;
	color: black;
}

.modalFormulario .facebook, .modalFormulario .google{

	cursor: pointer;
}

.modalFormulario .facebook p{

	background: #46639f;
	color: white;
	text-align: center;
	line-height: 40px;
	padding: 8px;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 20px;

}

.modalFormulario .google p{

	background: #d6513e;
	color: white;
	text-align: center;
	line-height: 40px;
	padding: 8px;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 20px;

}

.modalFormulario p i{

	margin-left: -25px;
	margin-right: 5px;
	font-size: 20px;
}


.modalFormulario form{

	padding: 20px;
}

.modalFormulario form hr{

	border: 1px solid #eee;
}

.modalFormulario form input[type="text"], .modalFormulario form input[type="email"], .modalFormulario form input[type="password"]{


	padding: 25px;
}

.modalFormulario form input[type="submit"],{

	padding: 15px;
}

.modalFormulario form .checkBox{

	margin-top: 10px;

}


/*==============================================
= Escritorio grande (LG 1336px en adelante)  =
==============================================*/

@media (min-width: 1200px) {
		
	/*==============================================
        =  header =
	==============================================*/
	.brandLogo{
		font-size: 33px;
		color: black;
		font-family: 'Merriweather', serif;
		padding: 20px 60px;
		padding-left: 0px;
	}

	header #carrito{
	padding-left: 100px;
	}

	.modalFormulario .facebook p{

	margin-right: -15px;

	}

}

/*==============================================
= Escritorio mediano o tablet acostada (MD 1024px)  =
==============================================*/

@media (max-width: 1119px) and (min-width: 992px){
	
	/*==============================================
        =  header =
	==============================================*/
	.brandLogo{
		font-size: 33px;
		color: black;
		font-family: 'Merriweather', serif;
		padding: 20px 60px;
		padding-left: 0px;
	}
	header #carrito{
	padding-left: 70px;
	}

	.modalFormulario .facebook p{

	margin-right: -15px;

	}
}


/*==============================================
= Escritorio pequeño o tablet vertical (SM 768px en adelante)  =
==============================================*/

@media (max-width: 991px) and (min-width: 768px){
	
	/*==============================================
        =  header =
	==============================================*/
	.brandLogo{
		font-size: 28px;
		color: black;
		font-family: 'Merriweather', serif;
		padding: 20px 0px;
	}

	#logotipo{
		padding-right: 0;
		padding-left: 0; 
	}
	header #carrito{
	padding-left: 55px;
	}
	header #carrito p{
	display: none;
	}
	.btnCategorias{
		padding-bottom: 5px;
	}
	#divCat{
		padding-bottom: 10px;
		padding-left: 30px;
	}
	.modalFormulario .facebook p{

	margin-right: -15px;

	}
}

/*==============================================
= Movil (XS 320px)  =
==============================================*/

@media (max-width: 767px){
	
	/*==============================================
        =  Top =
	==============================================*/

	#top ul{
		text-align: center;
		font-size: 10px;
	}

	.divNav{
		padding: 0px;
	}

	#top #regitro{
		borde
	}

	#ulRedes{
		display: none;
	}

	/*==============================================
        =  header =
	==============================================*/
	#logotipo{
		text-align: center;
	}
	#logoContainer{
		padding-right: 0px;
	}
	header #btnCategorias{
	margin-bottom: 10px;
	}
	header #buscador{
	margin-bottom: 10px;
	}
	header #carrito{
	margin: 0px;
	}
	/* header #carrito p{
	display: none;
	} */
	.modalFormulario .google p{

	margin-top: -15px;

	}
	.modalFormulario .backColorYN{

	font-size: 15px;

	}

}