/*=====================================
Carrito de compras
======================================*/

.cabeceraCarrito{
	height:40px;
}

.cabeceraCarrito h3{
	margin-top:-5px
}

.cabeceraCheckout{
	height:66px;
}

/*=============================================
Checkout
=============================================*/

.contenidoCheckout, .contenidoCheckout .row{
	padding:0px 20px;
}

#direccionEntrega{

	display: none;
	padding-left: 0px;
	padding-right: 0px;

}
