/*=============================================
Perfil
=============================================*/
#perfil figure#imgPerfil img{

	width:80%;
	margin:10px 0;

}

#perfil #subirImagen{
	display:none;
	margin:20px 0px;
	border:2px dotted #ccc;
	overflow: hidden;
	padding:40px;
	cursor:pointer;
}

#perfil #subirImagen img{
	width:100%;
	padding:10px;
}

#perfil #subirImagen #datosImagen{
	height:65px;
}

.btnMostrarRepartidor{

	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

#divDatos{

	margin-bottom: 75px;
}